body{
    padding: 0%;
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: #151D3B;    
    padding: 12px;

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li{
    color: blanchedalmond;
}
li:hover{
    background-color:#D82148 ;
    color: black;
    padding: 8px;
}
.estiloForm{
    
    margin-top:2%;
    text-align: center;
    display: flex;
    justify-content: center; 
    
}
form{
    border: solid 2px #151D3B;
    border-radius: 3%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #6EBF8B;
    margin-bottom: 5%;
}
button{
    margin: 3%;
    padding: 2%;
    color: blanchedalmond;
    background-color: #D82148;
    border-radius: 5%;
}
button:hover{
    background-color: #DADBBD;
    color: black;
}
.iconoImg{
    height: 15px;
    width: 15px;
}
.texto{
    color: aliceblue;   
    text-transform:uppercase;
}

footer{
    background-color: #151D3B;
    display: flex;
    align-items: flex-end;
}